.center{
  text-align:center;
}
.result{
  margin-top: 13rem;
  margin-right: 17rem;
  font-size: 20em;

}
.result2{
  margin-top: -1rem;
  margin-left: 15rem;
  font-size: 20em;

}
.roll-btn {
  width: 20rem;;
  top: 2rem;
}
