<div class="table-wrapper">
  <mat-grid-list cols="13" rowHeight=fit>
    <mat-grid-tile 
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
      {{tile.text}}
    </mat-grid-tile>
  </mat-grid-list>
</div>

<mat-card class="info-card player-1-info-card">
  <mat-card-header>
    <div class="player-info-card-icon"></div>
    <mat-card-title>Player 1</mat-card-title>
    <mat-card-subtitle>$Player's money</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Player's porperties:</p>
    <ul>
      <li>Property 1<i class="fas fa-home"></i></li>
      <li>Property 2</li>
      <li>Property 3</li>
    </ul>
    <button mat-flat-button class="upgrades-btn" (click)="openUpgradesMenu(1)">Upgrades</button>
  </mat-card-content>
</mat-card>

<mat-card class="info-card player-2-info-card">
  <mat-card-header>
    <div class="player-info-card-icon"></div>
    <mat-card-title>Player 2</mat-card-title>
    <mat-card-subtitle>$Player's money</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Player's porperties:</p>
    <ul>
      <li>Property 1</li>
      <li>Property 2 <i class="fas fa-building"></i></li>
      <li>Property 3</li>
    </ul>
    <button mat-flat-button class="upgrades-btn" (click)="openUpgradesMenu(2)">Upgrades</button>
  </mat-card-content>
</mat-card>

<mat-card class="info-card player-3-info-card">
  <mat-card-header>
    <div class="player-info-card-icon"></div>
    <mat-card-title>Player 3</mat-card-title>
    <mat-card-subtitle>$Player's money</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Player's porperties:</p>
    <ul>
      <li>Property 1</li>
      <li>Property 2</li>
      <li>Property 3</li>
    </ul>
    <button mat-flat-button class="upgrades-btn" (click)="openUpgradesMenu(3)">Upgrades</button>
  </mat-card-content>
</mat-card>

<mat-card class="info-card player-4-info-card">
  <mat-card-header>
    <div class="player-info-card-icon"></div>
    <mat-card-title>Player 4</mat-card-title>
    <mat-card-subtitle>$Player's money</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Player's porperties:</p>
    <ul>
      <li>Property 1</li>
      <li>Property 2</li>
      <li>Property 3</li>
    </ul>
    <button mat-flat-button class="upgrades-btn" (click)="openUpgradesMenu(4)">Upgrades</button>
  </mat-card-content>
</mat-card>