.table-wrapper {
  display:flex;
  margin: auto;
  padding: 1%;
  background-color: aquamarine;
  width: 50%;
  height: auto;
  mat-grid-list {
    margin: auto;
    height:96vh;
    width: 100vh;
    background-color: black;
  }
}
