.table-wrapper {
  display:flex;
  margin: auto;
  padding: 1%;
  background-color: aquamarine;
  width: 50%;
  height: auto;
  mat-grid-list {
    margin: auto;
    height:96vh;
    width: 100vh;
    background-color: black;
  }
}
.info-card {
  width: 15%;
  height: auto;
  position: absolute;
  .upgrades-btn {
    margin: 0 10% 0 10%;
    width: 80%;
    background-color: lightgrey;
    &:hover {
      border: 0.5px solid black;
      background-color: darken(lightgrey,5);
    }
  }
  .player-info-card-icon {
    border: 2px solid black;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: auto;
    top: 10%;
    right: 15%;

    border-radius: 100%;
  }
  &.player-1-info-card {
    top: 5%;
    left: 5%;
    .player-info-card-icon {
      background-color: red;
    }
  }
  &.player-2-info-card {
    top: 5%;
    right: 5%;
    .player-info-card-icon {
      background-color: green;
    }
  }
  &.player-3-info-card {
    bottom: 5%;
    left: 5%;
    .player-info-card-icon {
      background-color: blue;
    }
  }
  &.player-4-info-card {
    bottom:  5%;
    right: 5%;
    .player-info-card-icon {
      background-color: yellow;
    }
  }
}
