<button
  mat-raised-button
  class="next-player-main-btn"
  [disabled]="!rolled"
  (click)="nextPlayer()"
>
  Next player
</button>

<div class="table-wrapper" *ngIf="tiles.length > 0">
  <mat-grid-list cols="13" rowHeight="fit">
    <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.col"
      [rowspan]="tile.row"
      [style]="getStyle(tile)"
      (click)="openTileMenu(tile.id)"
    >
      <span *ngIf="tile.type !== 5">
        {{ tile.name }}
      </span>
      <span
        *ngIf="players[0].position === tile.id"
        class="figure player-1-dot"
      ></span>
      <span
        *ngIf="players[1].position === tile.id"
        class="figure player-2-dot"
      ></span>
      <span
        *ngIf="players[2].position === tile.id"
        class="figure player-3-dot"
      ></span>
      <span
        *ngIf="players[3].position === tile.id"
        class="figure player-4-dot"
      ></span>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div *ngFor="let player of players">
  <mat-card
    class="info-card"
    [ngClass]="getClass(player)"
    *ngIf="player.money >= 0"
  >
    <mat-card-header>
      <mat-card-title>Player {{ player.number }}</mat-card-title>
      <mat-card-subtitle>$ {{ player.money }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Player's porperties:</p>
      <ul>
        <li *ngFor="let property of player.properties">
          {{ property.name }} (level:{{ property.level }})
        </li>
      </ul>
      <button
        mat-raised-button
        [disabled]="activePlayer !== player"
        class="active-player-btn"
        (click)="activeTurn = true"
      >
        Open menu
      </button>
    </mat-card-content>
  </mat-card>
</div>

<div class="player-turn" *ngIf="activeTurn === true">
  <div class="player-money">
    <p class="name">Player {{ activePlayer.number }}</p>
    <p class="money">$ {{ activePlayer.money }}</p>
  </div>
  <div class="wrapper">
    <div class="player-properties">
      <p class="property-title">Properties</p>
      <ul>
        <li *ngFor="let property of activePlayer.properties; let i = index">
          {{ property.name }}
          <button
            *ngIf="property.type === 3"
            mat-flat-button
            (click)="upgradeBtn(property)"
            [disabled]="
              property.upgradeCost > activePlayer.money || property.level === 5
            "
          >
            Upgrade ${{ property.upgradeCost }}
          </button>
        </li>
      </ul>
      <button mat-raised-button class="close-btn" (click)="activeTurn = false">
        Close
      </button>
      <button
        mat-raised-button
        class="next-player-btn"
        [disabled]="!rolled"
        (click)="nextPlayer()"
      >
        Next player
      </button>
    </div>
    <div class="dice-roll">
      <app-dice></app-dice>
    </div>
  </div>
</div>
<div
  *ngIf="tileMenu && (activeTile.type === 3 || activeTile.type === 2)"
  class="tile-menu"
>
  <h1>{{ activeTile.name }}</h1>
  <p>{{ activeTile.description }}</p>
  <div *ngIf="activeTile.rent.length > 0">
    <h3>Prices of each level:</h3>
    <ul>
      <li
        *ngFor="let price of activeTile.rent"
        [ngClass]="
          price === activeTile.rent[activeTile.level] ? 'currentLevel' : ''
        "
      >
        {{ price }}
      </li>
    </ul>
  </div>
  <span>Owner of property: </span>
  <span
    *ngIf="activeTile.owner !== null || activeTile.owner !== 0"
    class="owner"
    >Player {{ activeTile.owner }}</span
  >
  <span
    *ngIf="activeTile.owner === null || activeTile.owner === 0"
    class="owner"
    >unowned</span
  >
  <div
    *ngIf="
      (activeTile.owner === null || activeTile.owner === 0) &&
      activePlayer.position === activeTile.id
    "
  >
    <button
      mat-flat-button
      class="buy-property-btn"
      [disabled]="activeTile.value > activePlayer.money"
      (click)="buyProperty()"
    >
      Buy for {{ activeTile.value.toLocaleString("en") }}
    </button>
  </div>
</div>
<div
  class="backdrop"
  (click)="tileMenu = false"
  *ngIf="tileMenu && (activeTile.type === 3 || activeTile.type === 2)"
></div>
<div
  class="chance-card fortune-card"
  *ngIf="isCardDrawn"
  (click)="isCardDrawn = false"
>
  <h3>Card</h3>
  <p>{{ drawnCard.description }}</p>
</div>
